*{
    margin: 0;padding: 0;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    background-image: url('wallpaperflare.com_wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.bottom-bar{
    width: 100%;
    height: 50px;
    background-color: rgb(236, 236, 236);
    display: flex;
    align-items: center;
    justify-content: center;
}
.bottom-bar img{
    width: 28px;
    margin-left: 7px;
    margin-right: 7px;
    padding: 7px;
    border-radius: 6px;
    transition: all 0.2s ease;
}
.bottom-bar img:hover{
    background-color: white;
}
.side{
    position: absolute;
    right: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.side img{
    transition: all 0.2s ease;
    width: 11px;
    padding-top: 14px;
    padding-bottom: 14px;
}
.controls img{
    width: 17px;
    margin-left: 3px;
    margin-right: 3px;
    padding: 0;
}
.controls{
    transition: all 0.2s ease;
    padding: 9px;
    border-radius: 6px;
    margin-left: 2px;
    margin-right: 2px;
}
.controls:hover{
    background-color: white;
    
}
.time{
    margin-left: 2px;
    margin-right: 2px;
    font-size: 12px;
    font-family: 'calibri';
    display: flex;
    align-items: center;
    padding-left: 12px;
    border-radius: 4px;
    transition: all 0.2s ease;
}
.time pre{
    font-family: 'calibri';
    cursor: default;
}
.time img{
    width: 16px;
}
.time:hover{
    background-color: white;

}
#start-menu{
    position: absolute;
    width: 600px;
    border-radius: 6px;
    left: 27%;
    bottom: 8%;
    box-shadow: 0px 0px 8px gray;
    transition: all 0.2s ease;
}
#search-menu{
    position: absolute;
    width: 700px;
    border-radius: 6px;
    left: 23%;
    bottom: 8%;
    box-shadow: 0px 0px 8px gray;
    transition: all 0.2s ease;
}
#more-menu{
    position: absolute;
    width: 220px;
    border-radius: 8px;
    left: 74%;
    bottom: 8%;
    box-shadow: 0px 0px 8px gray;
    transition: all 0.2s ease;
}
.open{
    opacity: 1;
    height: auto;
}
.close{
    opacity: 0;
    transform: translateY(10px);
}
