* {
    margin: 0;
    padding: 0;
}

body {
    background-color: bisque;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.main-box {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: rgb(71, 71, 71);
    width: 300px;
    height: 500px;
    border-radius: 25px;

}
.screen{
    font-size: 2.5rem;
    color: white;
    padding-left: 8px;
    padding-top: 8px;
    width: 82%;
    height: 100px;
    background-color: transparent;
    z-index: 1;
    position: relative;
    margin-top: 30px;
    margin-bottom: 6px;
    margin-left: 23px;
    border-radius: 15px;
}
#text{
    position: absolute;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 2;
    margin-top: 10%;
    margin-left: 7.5%;
    width: 222px;
    height: 108.5px;
    background-color: gray;
    border: transparent;
    color: white;
    font-size: 46px;
    border-radius: 15px;
}
.buttons{
    position: relative;
    top: 2%;
    left: 6%;
}
.button{
    transition: all 0.2s ease;
    background-color: rgb(222, 173, 182);
    box-shadow: none;
    cursor: pointer;
    font-size: 1.1rem;
    border-radius: 20px;
    padding: 15.5px;
    width: 50px;
    margin: 5px;
    margin-left: 7px;
    margin-right: 7px;
}
.button:hover{
    background-color: rgb(197, 95, 114);
}
#AC{
    width: 115px;
}
#zero{
    width: 115px;
    padding: 18px;
}
